{% extends 'base.html'  %}
{% load static %}
{%block title %}index page{% endblock%}

{% block image_block%}
<header>
<!--Image and mask-->
          <div id="intro" class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-md-10 text-white">
                <!-- heading -->
                <h2 class="display-4 font-weight-bold white-text  p-5 mb-2" style="color:#ff5722;" > Bắt đầu học nào~ </h2>

                <!-- divider -->
                <hr style="color:#ff5722;">

                <!-- description -->
                <h4 class="white-text my-4">Chọn khóa học qua đây.</h4>
                <a href="{% url 'curriculum:standard_list' %}"> <button type="button" class="btn" style="color:#ff5722;border-color:#ff5722;"> Bắt đầu ngay</button> </a>

                <!-- feedback and github -->
                <div class="row d-flex mt-5 justify-content-center text-center">
                  <div class="col">
                    <a href="contact"> <button type="button" class="btn" style="color:#ff5722;border-color:#ff5722;">Gửi phản hồi</button> </a>
                  </div>
                </div>

              </div>
            </div>
          </div>

</header>
{%endblock%}

{% block content %}

<main class="mt-5">
  <div class="container">
    <!-- section 1 for standards-->

    <section class="text-center">
                  <h2 class="mb-5 font-weight-bold" style="color:#ff5722;">Học vừa, học sâu</h2>
                  <!-- class row for description-->
                  <div class="row d-flex justify-content-center mb-4">
                    <!-- class column -->
                    <div class="col-md-8">
                      <p class="grey-text">Được chia qua các khóa, mỗi khóa có 1 môn. Ở đây,
                        kiến thức chưa chắc là có hạn.
                      </p>
                    </div>
                  </div>
                  <!-- class row2 for cards -->
                  <div class="row">
                          {% for standard in standards %}
                          <div class="col-md-4 d-flex mb-5 justify-content-center">
                            <div class="card text-center" style="width: 18rem;">
                              <div class="card-body">
                                <h4 class="card-title" style="color:#ff5722;">{{standard.name}}</h4>
                                <p class="card-text">{{standard.description|truncatechars:75}}</p>
                                {% if user.is_authenticated %}
                                <a href="{% url 'curriculum:subject_list' slug=standard.slug %}" class="btn btn-primary" style="background-color:#00bcd4;">Bắt đầu học</a>
                                {%else%}
                                <p>Đăng ký hoặc đăng nhập để bắt đầu học...!</p>
                                <a href="{% url 'user_login' %}" class="btn btn-primary" style="background-color:#00bcd4;">Đăng nhập</a>
                                <a href="{% url 'register' %}" class="btn btn-primary" style="background-color:#00bcd4;">Đăng ký</a>
                                {%endif%}
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                  </div>
    </section>
    <hr class="my-5" style="color:#ff5722;">
    <!-- Section 2: Faculty Members -->

    <section class="text-center">
      <h2 class="mb-5 font-weight-bold" style="color:#ff5722;">Nhóm đằng sau...</h2>
      <div class="row d-flex justify-content-center mb-4">
          <div class="col-md-8">
            <p class="grey-text">Các thành viên nhóm 7.</p>
          </div>
          <div class="row d-flex justify-content-center mb-3">
          </div>
      </div>
    </section>

    <hr class="my-5" style="color:#ff5722;">
  </div>
</main>


{%endblock%}
