<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">

</head>
<body style="background-image: url(images.jpg) !important;">
    <div class="mt-6">

        <h1 class="text-center">Univju</h1> 
        <div class="card container bg-gray ">
        <div class="card-body text-center1">
            <h5 class="card-title">Quên mật khẩu</h5>
            <p class="text-start ">EMAIL / SĐT</p>
            <div class="input-group flex-nowrap">

                <input type="text" class="form-control" placeholder="EMAIL / SĐT" aria-label="EMAIL/SĐT" aria-describedby="addon-wrapping">
            </div>
            <br>
            <a href="#" class="btn btn-primary btn-block">Gửi thông tin</a>
        </div>
            <div class="d-flex ">
                <a class="nav-link active " aria-current="page" href="/signin">Đăng nhập </a>
                <a class="nav-link active offset-6 " href="/signup">Đăng ký</a>
            </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>